/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: "Georgia", serif;
    overflow: hidden;
    background: black;
    color: #f5f5f5;
}

/* SECCIONES */
.section {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.section.active {
    opacity: 1;
    z-index: 2;
}

/* OSCURECIDO CINEMATOGRÁFICO */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(3px);
}

/* CONTENIDO CENTRADO */
.content {
    position: relative;
    text-align: center;
    max-width: 900px;
    padding: 40px;
    animation: fadeIn 2s ease;
}

/* TÍTULOS */
h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: normal;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: normal;
}

p {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.6;
}

/* BOTONES */
.btn {
    display: inline-block;
    padding: 14px 28px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background: #ffffff;
    color: #111;
    transition: all 0.4s ease;
}

.btn:hover {
    transform: scale(1.08);
}

.secondary {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.secondary:hover {
    background: #fff;
    color: #111;
}

/* OCULTO */
.hidden {
    display: none;
}

/* TEXTO CARTA */
#textoCarta {
    font-size: 24px;
    line-height: 1.8;
    min-height: 200px;
    margin-bottom: 30px;
    
}

/* MINI RECUERDO */
.fade-text {
    opacity: 0;
    animation: fadeSequence 12s forwards;
    font-size: 28px;
}

/* ANIMACIONES */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeSequence {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}

/* BOTONES PREGUNTA */
.buttons {
    margin-top: 30px;
}

/* EFECTO CRECER */
#btnSi {
    transition: transform 0.3s ease;
}

#carta .content {
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 15px;
}
#carta .content::-webkit-scrollbar {
    width: 6px;
}

#carta .content::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.4);
    border-radius: 10px;
}
